// add styles for this prototype
.pivot-container {
background-color: var(--va-grey-200);
.launchpad-container {
    padding: 3rem 0;
    display: flex;
    align-items: center;
    background: white;
    min-height: 100vh;
}
.launchpad-tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 65.5rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    .launchpad-tiles-row1 {
        display: flex;
        gap: 2rem;
        margin-bottom: 2rem;
        flex-wrap: wrap;
    }
    .launchpad-tiles-row2 {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
    }
    .va-tile {
        max-width: 238px;
        max-height: 250px;
        display: flex;
        flex-direction: column;
        padding: 0;
        padding-top: 0.5rem;
        padding-bottom: 4rem;
        box-shadow: 1px 1px 2px 0 rgba(17, 17, 17,  0.1);
        border: 1px solid var(--va-grey-300);
        min-width: 190px;
        .va-signal-icon {
            margin: 1.5rem 0 0 1.5rem;
        }
        .va-tile-content {
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            margin-top: 0.625rem;
            width: auto;
        }
        .va-tile-description {
            font-size: 0.75rem;
            line-height: 1.2;
        }
        .launch {
            bottom: 0;
            opacity: 0;
            position: absolute;
            transition: all 350ms ease;
            right: 25px;
            visibility: hidden;
        }
        .arrow-icon {
            display: inline-block;
            margin-top: 36px;
            margin-left: 10px;
            height: 33px;
            right: 0;
            transform: translateY(-50%);
            vertical-align: middle;
            width: 43px; 
            .bit {
                position: absolute;
                transition: all 350ms ease;
            }
            .tl {
                top: 0;
                left: 0;
            }
            .tr {
                top: 0;
                right: 0;
            }
            .bl {
                bottom: 0;
                left: 0;
            }
            .br {
                bottom: 0;
                right: 0;
            }
            .arrow {
                opacity: 0;
                visibility: hidden;
                transform: translate(-5px, 0px);
            }
            
        }
        &:hover {
            background-color: white;
            box-shadow: 0 2px 4px 0 var(--va-cyan-500);
            .launch {
                visibility: visible;
                opacity: 1;
            }
            .arrow-icon {
                .tl {
                    transform: translate(-10px, -10px);
                }
                .tr {
                    transform: translate(10px, -10px);
                }
                .bl {
                    transform: translate(-10px, 10px);
                }
                .br {
                    transform: translate(10px, 10px);
                }
                .arrow {
                    opacity: 1;
                    transform: translate(0px, 0px);
                    visibility: inherit;
                }
            }
        }
    }
}
.global-nav-left{
    background-color: var(--background-color);
    width: 68px;
    flex-grow: 0;
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid var(--border-color);

    .nav-item {
        color: #888888;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        &.nav-item-selected {
            background-color: var(--va-grey-300);
        }
    }
}
.va-nav-bar {
    --btn-bg-secondary: black;
    --btn-bg-secondary-hover: var(--va-grey-700);
    --btn-bg-secondary-active: var(--va-grey-700);
    --btn-bg-secondary-focus: var(--va-grey-700);
    --btn-text-secondary: white;
    height: 75px;
    background-color: var(--va-grey-800);
    padding: 0 24px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    &-left {
        display: flex;
        align-items: center;
    }
    .va-logo {
        margin-left: 0;
        margin-right: 32px;
    }
    .nav-global-select {
        background-color: #272927;
        color: white;
    }
    
    .top-bar-left {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        a {
            color: white;
        }
        .company {
            font-size: 0.625rem;
            font-family: var(--font-bold);
            color: var(--va-grey-400);
            text-transform: uppercase;
        }
        .report-name, .company-title {
            font-size: 1.5rem;
            color: white;
        }
    }
    .top-bar-right {
        display: flex;
        align-items: center;
        padding: 0;
        gap: 1rem;
        font-size: 12px;
        font-weight: 500;
        .va-btn + .va-btn {
            margin-left: 0;
        }
    }
    .user-icon {
        margin-left: 0;
        background-color: var(--va-teal-500);
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }
    
    .agency-logo-container {
        background-color: #181A18;
        padding: 0 1rem;
        border-radius: 4px 0 0 4px;
        height: 42px;
        color: #888;
    }
    a {
        color: white;
        &:hover {
            color: var(--va-grey-200);
        }
    }
    .va-btn[disabled] {
        color: white;
        background-color: var(--va-grey-600);
        opacity: 0.5;
    }
    .va-btn-secondary:focus {
        background-color: var(--btn-bg-secondary);
    }
    .va-btn-secondary:focus-visible {
        background-color: var(--btn-bg-secondary-focus);
    }
    .va-btn-secondary:hover {
        background-color: var(--btn-bg-secondary-hover);
    }
}
.dashboard-container {
    display: flex;
    min-height: calc(100vh - 75px);
    padding: 1rem 0;
    background-color: transparent;
    width: 100%;
}
.left-nav {
    width: 70px;
    flex-grow: 0;
    flex-shrink: 0;
}
.dashboard-content-container {
    background: white;
    flex-grow: 2;
    padding: 2rem;
    border-radius: 8px;
}
.content-container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    h1 {
        font-size: 2rem;
        font-family: var(--font-light);
        font-weight: 100;
        margin-bottom: 0.5rem;
    }
    .content-header-subtext {
        font-size: 0.75rem;
        color: var(--va-grey-600);
    }
}
.dashboard-content {
    h3 {
        font-family: var(--font-bold);
        color: var(--va-grey-500);
        font-size: 0.6875rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
}
.create-report-button + .va-select__menu {
    position: absolute;
    right: 0;
    top: 36px;
    border: 1px solid var(--va-grey-300);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px;
    padding: 1rem;
    &::before {
        content: 'Report Type';
        color: var(--va-grey-600);
        font-family: var(--font-medium);
        font-size: 0.625rem;
    }
    .va-select__option-text-content {
        padding-bottom: 0;
    }
    .va-select__option-icon {
        position: relative;
        left: -8px;
    }
}
.report-card-container {
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
}
.report-card {
    width: 154px;
    height: 132px;
    border: 1px solid var(--va-grey-300);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.report-card-icon {
    background-color: var(--va-grey-200);
    color: var(--va-teal-400);
    border-radius: 10px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.report-card-title {
    font-size: 0.75rem;
    font-family: var(--font-medium);
}
.placeholder-box {
    border-radius: 4px;
    background-color: var(--va-grey-300);
    color: var(--va-grey-500);
    font-size: 0.75rem;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &.placeholder-lg {
        min-height: 400px;
    }
}
.sidebar {
    width: 260px;
    flex-grow: 0;
    flex-shrink: 0;
    .help-content {
        opacity: 1;
        max-height: initial;
        overflow: initial;
        padding: 1rem 2rem;
        p {
            font-size: 0.75rem;
            font-family: var(--font-light);
            line-height: 1.35;
            margin-bottom: 1rem;
        }
    }
    .side-bar-header {
        font-family: var(--font-light);
        font-size: 1.25rem;
        margin-bottom: 2rem;
    }
    .side-bar-subhead {
        font-family: var(--font-semibold);
        font-size: 0.75rem;
        margin-bottom: 1rem;
    }
}
.create-takeover {
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    z-index: 1001;
}
.takeover-content {
    display: flex;
    align-items: stretch;
    min-height: 100vh;
}
.side-bar-tabs {
    margin-bottom: 1rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.side-bar-tab {
    color: var(--va-grey-500);
    font-size: 0.625;
    font-family: var(--font-semibold);
    &.active {
        color: var(--va-grey-900);
    }
}
.draggable-container {
    background-color: var(--va-grey-200);
    padding: 2rem;
    flex-grow: 0;
    flex-shrink: 0;
    width: 260px;
}
.build-container {
    padding: 2rem;
    flex-grow: 2;
    flex-shrink: 2;
}
.build-title {
    font-size: 1.5rem;
    font-family: var(--font-light);
    color: var(--va-grey-800);
    margin-bottom: 2rem;
}
.drag-item-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.pivot-drag-item {
    background: white;
    height: 1.5rem;
    border-radius: 0.75rem;
    border: 1px solid transparent;
    color: var(--va-teal-500);
    font-size: 0.75rem;
    line-height: 1.5rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: move;
    &.added, &.dragging {
        opacity: 0.5;
        pointer-events: none;
    }
    &:active {
        background-color: var(--va-teal-200);
        border-color: var(--va-teal-500);
    }
    &.dragging, &.dragging:active {
        background-color: white;
        border-color: transparent;
    }
}

.drop-area-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    &:has(.drop-area-active) {
        .drop-area:not(.drop-area-active) {
            opacity: 0.5;
        }
    }
}
.drop-area {
    padding: 1rem;
    border: 1px solid var(--va-grey-300);
    font-size: 0.625rem;
    text-transform: uppercase;
    color: var(--va-grey-600);
    font-family: var(--font-semibold);
    min-height: 90px;
    &.drop-area-active {
        background-color: #FAFDFE;
        border-color: var(--va-teal-500);
        border-style: dotted;
    }
}
.drop-area-content {
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
}
.drop-items {
    // padding: 1rem 0;
    display: flex;
    gap: 1rem;
    flex-grow: 2;
    flex-shrink: 2;
    flex-wrap: wrap;
}
.filter-button-container {
    position: relative;
    .filter-menu-list {
        position: absolute;
        top: 100%;
        left: 1rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px;
        border: 1px solid var(--va-grey-300);
        padding: 1rem;
        background-color: white;
        z-index: 1000;
        .menu-list-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            padding: 0.5rem;
            gap: 1rem;
            &:hover {
                background-color: var(--va-grey-200);
            }
        }
    }
}
.drop-filter-area {
    border-left: 1px solid var(--va-grey-300);
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    width: 300px;
    padding: 0 1rem;
}
.filter-button {
    background: var(--va-grey-600);
    color: white;
    height: 32px;
    border-radius: 16px;
    font-size: 0.75rem;
    padding: 0 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.35rem;
    &[disabled] {
        background-color: var(--va-grey-400);
    }
    &:focus {
        outline: none;
    }
    &:hover {
        background: var(--va-grey-700);
    }
}
.va-chip {
    background-color: var(--va-teal-100);
    padding: 0.25rem 1rem;
    border-radius: 20px;
    color: var(--va-teal-500);
    text-transform: none;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    button {
        &:focus {
            outline: 0;
        }
    }
}
.report-container {
    width: 100%;
    display: flex;
    .report-container-dimensions, .report-container-metrics {
        display: flex;
    }
    .report-container-dimensions {
        flex-grow: 0;
        border-right: 1px solid var(--va-grey-300);
    }
    .report-container-metrics {
        flex-grow: 2;
        .report-col {
            flex-grow: 2;
        }
    }
    .report-col {
        display: flex;
        flex-direction: column;
        &.empty-report {
            width: 100%;
        }
    }
    .report-header {
        background-color: var(--va-grey-200);
        min-height: 50px;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        font-size: 0.75rem;
        font-family: var(--font-semibold);
    }
    .report-row {
        min-height: 50px;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        border-bottom: 1px solid var(--va-grey-300);
        font-size: 0.75rem;
    }
    .table-content-placeholder {
        display: block;
        width: 40px;
        height: 12px;
        background-color: var(--va-grey-400);
    }
}
.new-report-name {
    padding: 0.15rem 0.5rem;
    margin-left: -0.5rem;
    border-radius: 4px;
    &:hover {
        background: var(--va-grey-900);
    }
    &:focus {
        outline: 0;
    }
    &:focus-visible {
        background: var(--va-grey-900);
    }
}
.title-edit-textfield {
    background: var(--va-grey-900);
    font-size: 1.25rem;
    border: 0;
    color: white;
    height: auto;
    margin-left: -0.5rem;
    .va-form-control {
        color: white;
        font-size: 1.25rem;
        padding: 0;
        height: auto;
        line-height: 1;
    }
    &:hover:focus-within:not(.va-input-disabled),
    &:focus-within:not(.va-input-disabled) {
        border: 0;
        box-shadow: none;
    }
    &:hover {
        border: 0;
        box-shadow: none;
    }
    .va-btn-icon {
        &:hover {
            .va-signal-icon {
                background-color: transparent;
                color: white;
            }
        }
    }
}
.saved-reports-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.saved-reports-filters {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.table-filter-button {
    font-size: 0.625rem;
    border: 1px solid var(--va-grey-300);
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    &:hover {
        background-color: var(--va-grey-200);
    }
    &:focus {
        outline: none;
    }
    &:focus-visible {
        border-color: var(--va-grey-600);
    }
    &::before {
        content: '';
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: var(--va-grey-800);

    }
    &.national {
        &::before {
            background-color: var(--va-teal-400);
        }
    }
    &.on {
        background-color: var(--va-grey-300);
    }
}
.saved-reports-table {
    min-height: 450px;
}
.saved-reports-table-header, .saved-reports-table-row {
    display: flex;
    align-items: center;
    & > div {
        padding: 0.75rem;
        font-size: 0.75rem;
    }
    .name-col {
        flex-grow: 2;
        flex-shrink: 2;
        font-family: var(--font-semibold);
    }
    .created-col {
        flex-grow: 0;
        flex-shrink: 0;
        width: 180px;
    }
    .metric-col {
        flex-grow: 0;
        flex-shrink: 0;
        width: 200px;
    }
    .actions-col {
        flex-grow: 0;
        flex-shrink: 0;
        width: 240px;
        
    }
    .row-actions-container {
        display: flex;
        align-items: center;
        opacity: 0;
    }
    .row-description {
        font-size: 0.625rem;
        font-family: var(--font-regular);
    }
    .type-col {
        display: flex;
        align-items: center;
        &::before {
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: transparent;
        }
    }
}
.saved-reports-table-row  {
    
    border: 1px solid transparent;
    &:hover {
        border-color: var(--va-grey-200);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px;
        .row-actions-container {
            opacity: 1;
        }
    }
    .type-col {
        &::before {
            background-color: var(--va-grey-800);
        }
    }
    &.national {
        .type-col {
            &::before {
                background-color: var(--va-teal-400);
            }
        }
    }
}
.saved-reports-table-header {
    text-transform: uppercase;
    font-family: var(--font-semibold);
    font-size: 0.625rem;
    color: var(--va-grey-700);
}
.national-off {
    .saved-reports-table-row {
        &.national {
            display: none;
        }
    }
}
.local-off {
    .saved-reports-table-row {
        &.local {
            display: none;
        }
    }
}

}