.access-container {
.va-nav-bar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 48px;
    background-color: var(--va-grey-800);
    padding: 0 ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    &-left {
        display: flex;
        align-items: center;
    }
    .va-nav-bar-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 1.5rem;
        max-width: 1800px;
        margin: 0 auto;
    }
    .logo-container {
        display: flex;
        align-items: center;
        flex-grow: 0;
        // margin-right: 100px
        a {
            cursor: pointer;
        }
    }
    .elsy-logo-icon {
        padding-left: 1.5rem;
        border-left: 1px solid var(--va-grey-700);
    }
    .va-logo {
        margin-left: 0;
        margin-right: 1rem;
    }
    .nav-global-select {
        background-color: #272927;
        color: white;
    }
    
    .top-bar-left {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        flex-grow: 2;
        gap: 2.5rem;
        a {
            color: white;
        }
    }
    .top-bar-right {
        display: flex;
        align-items: center;
        padding: 0;
        gap: 24px;
        font-size: 12px;
        font-weight: 500;
    }
    .user-dropdown + .va-select__menu {
        right: 0;
    }
    .user-icon {
        margin-left: 0;
        background-color: var(--va-teal-500);
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }
    
    .agency-logo-container {
        background-color: #181A18;
        padding: 0 1rem;
        border-radius: 4px 0 0 4px;
        height: 42px;
        color: #888;
    }
    .navbar-advertiser {
        font-size: 0.875rem;
        font-family: Proxima Nova W01 Regular;
    }
    .va-switcher {
        --select-single-value-color-link: white;
        --select-single-value-color-link-focus: white;
        --select-single-value-color-link-hover: white;
        --select-option-bg-color: #181A18;
        --select-option-color: white;
        --select-option-bg-color-hover: #333;
        --select-option-color-hover: white;

        --select-option-bg-color-current: #333;
        --select-option-bg-color-current-hover: #333;
        --select-option-bg-color-focus: #111;
        --select-option-color-current: white;
        --select-option-color-focus: white;
        --select-group-heading-color: #888;
        // z-index: 1000;
        position: relative;

        

        &.va-select--link {

            .va-select__control {
                padding: 0.75rem 1rem 0rem;
                background: transparent;
                border-radius: 4px;
                font-size: 0.875rem;
                font-weight: 500;
                height: 42px;
                position: relative;
                &:hover, &:focus {
                    background: #333;
                    .va-select__single-value {
                        // color: white;
                        text-decoration: none;
                    }
                }
                .va-select__value-container {
                    // color: white;
                    max-width: 100%;
                }
                .va-select__indicators {
                    display: inline-block;
                }
                &:focus,
                &--is-focused {
                    text-decoration: none;
                    .va-select__single-value {
                        text-decoration: none;
                    }
                }
                
            }
            .va-select__menu {
                background-color: #181A18;
                padding: 0.5rem 1rem;
            }
            .va-select__group-heading {
                text-transform: initial;
                font-weight: 700;
                letter-spacing: 0.5px;
            }
            .va-select__dropdown-indicator {
                color: white;
            }
        }
        
    }
    .nav-switcher-container {
        z-index: 1000;
        position: relative;
        display: flex;
        align-items: center;
        .va-switcher {
            &.va-switcher-withicon {
                .va-select__control {
                    padding-left: 40px;
                }
                + .switcher-input-icon {
                    position: absolute;
                    left: 12px;
                    top: 11px;
                }
                
            }
        }
        // .va-nav-bar .nav-switcher-container 
        &.nav-switcher-withagency {
            .va-switcher {
                &.va-select--link {

                    .va-select__control {
                        border-radius: 0 4px 4px 0;
                    }
                }
                &.va-switcher-withicon + .switcher-input-icon {
                    left: 88px;
                }
            }
        }
    }
    // &.carat {
    //     .va-switcher {
    //         &.va-select--link {
    //             .va-select__control {
    //                 // padding-top: 16px;
    //                 // &::before {
    //                 //     content: 'Carat';
    //                 //     position: absolute;
    //                 //     font-size: 0.625rem;
    //                 //     color: #ccc;
    //                 //     top: 8px;
    //                 //     left: 18px;
    //                 // }
    //                 // .va-select__single-value {
    //                 //     top: 4px;
    //                 // }
    //             }
    //         }
    //         &.va-switcher-withicon {
    //             .va-select__control {
    //                 // &::before {
    //                 //     left: 42px;
    //                 // }
    //             }
    //         }
    //     }
    // }
}
.search-input {
    height: 2rem;
    display: flex;
    width: 188px;
    align-items: center;
    background-color: var(--va-grey-700);
    padding: 0 0.5rem;
    border-radius: 4px;
    .va-signal-icon {
        margin-right: 0.5rem;
    }
}
.user-dropdown {
    background-color: transparent;
    font-size: 0.875rem;
    font-family: Proxima Nova W01 Regular;
    padding-top: 0;
    font-weight: 300;
    border-radius: 4px;
    &:hover {
        background-color: #333;
    }
}
}